{% extends "Alibaba/base.html" %}
{% load static %}
{% block title %}About Us{% endblock  %}
{% block content %}
 {% include "Alibaba/navbar.html" %}
 {% include "Alibaba/slidder-content.html" %}
 <br><br>
  
 <!-- <h3 class="text-center">About us </h3> -->
 <h4 class="text-center"><b>How does Alibaba work?<b></h4>
 <small class="text-center" >Alibaba is a wholesale marketplace for buyers looking to purchase large quantities of products at the lowest price. You can use Alibaba to negotiate directly with manufacturers, order custom products, add branding to private label products, and achieve significant cost savings by negotiating repeat orders.

    Ecommerce store owners can also use Alibaba to find and communicate with suppliers who offer a dropshipping relationship.
    
    For businesses looking to stock their inventory or set up dropshipping, Alibaba works like this:
    
    Search Alibaba for a product or supplier.
    Enter your order quantity and product specifications (colorways, sizing, customization, etc.).
    Contact the supplier to make manufacturing requests or negotiate shipping.
    Make payment and receive your order.
    The exact steps for using Alibaba differ depending on whether you want purchase products or dropship them. Next, let’s look at how Alibaba works for these two use cases.
    
    </small>

 {% include "Alibaba/footer.html" %}
{% endblock  %}