{% extends "Alibaba/base.html" %}
{% load static %}

{% block title %}User Profile{% endblock  %}
{% block content %}
<link rel="stylesheet" href="{% static 'css/profile.css' %}">
{% include "Alibaba/navbar.html" %}

<div class="container profile-container">
    <div class="d-flex justify-content-between align-items-center mb-4">
        <div>
            <h3 class="mb-1">{{ profile.name }}</h3>
            <p class="text-muted mb-0">{{ profile.user.email }}</p>
        </div>
        {% comment %} <div>
            {% if profile.profile_picture %}
                <img src="{{ profile.profile_picture.url }}" alt="Profile Picture" class="profile-picture">
            {% else %}
                <img src="{% static 'default-user.png' %}" alt="No Image" class="profile-picture">
            {% endif %}
        </div> {% endcomment %}
    </div>
    <div class="d-flex justify-content-between align-items-center">
         <div class="section-title">Contact Information</div>
         <div class="section-title"><a href="{% url 'update_profile' %}"><i class="fa-solid fa-pen"></i></a></div>
    </div>

   
    <div class="row">
        <div class="col-md-6 mb-2">
            <strong>Mobile:</strong>
            <p>{{ profile.mobile }}</p>
        </div>
        <div class="col-md-6 mb-2">
            <strong>Gender:</strong>
            <p>{{ profile.gender }}</p>
        </div>
        <div class="col-md-6 mb-2">
            <strong>Date of Birth:</strong>
            <p>{{ profile.date_of_birth }}</p>
        </div>
    </div>

    <div class="section-title">Address</div>
    <div class="row">
        <div class="col-md-6 mb-2">
            <strong>Address Line 1:</strong>
            <p>{{ profile.address_line1 }}</p>
        </div>
        <div class="col-md-6 mb-2">
            <strong>Address Line 2:</strong>
            <p>{{ profile.address_line2 }}</p>
        </div>
        <div class="col-md-4 mb-2">
            <strong>City:</strong>
            <p>{{ profile.city }}</p>
        </div>
        <div class="col-md-4 mb-2">
            <strong>State:</strong>
            <p>{{ profile.get_state_display }}</p>
        </div>
        <div class="col-md-4 mb-2">
            <strong>Zip Code:</strong>
            <p>{{ profile.zipcode }}</p>
        </div>
        <div class="col-md-6 mb-2">
            <strong>Country:</strong>
            <p>{{ profile.country }}</p>
        </div>
    </div>
</div>

{% include "Alibaba/footer.html" %}
 
{% endblock  %}