/* use for adjust css on category navbar button to find products using category */
.category-bar {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 10px; /* space between buttons */
    padding: 10px;
    background-color: #f8f9fa; /* light background */
    /* border-radius: 10px; */
    margin: 3px 15px 15px 5px;
    

}

.category-btn {
    display: inline-block;
    padding: 8px 16px;
    background-color: #007bff; /* Bootstrap primary color */
    color: white;
    text-decoration: none;
    /* border-radius: 20px; */
    font-size: 16px;
    transition: background-color 0.3s ease;
}

.category-btn:hover {
    background-color: #00b300; /* darker on hover */
    text-decoration: none;
}
